# Ignore node_modules directory
node_modules/

# Ignore build artifacts
dist/
build/

# Ignore IDE files
.idea/
.vscode/

# Ignore logs and temp files
*.log
*.tmp

# Ignore sensitive or environment-specific information
.env
.env.local

# Solutions
solution1.js
solution2.js
solution3.js
solution4.js
